@charset "ytf-8";

*{margin: 0;padding: 0;}
ul{list-style: none;}
.bk header{
    width: 100%;
    padding: 0 60px;
    position: sticky;
    top: 0;
    background: #ccc;
    box-sizing: border-box;
    z-index: 999;
}
.bk header .top{
    display: flex;
    width: 100%;
    max-width: 1620px;
    height: 100px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    background: #bbb;
}
.bk header .menu ul{
    display: flex;
    gap: 10px;
}
.sub{display: none;}


section{
    width: 100%;
    height: 100%;
    max-width: 1620px;
    margin: 0px auto;
    padding: 40px 60px 0;
    box-sizing: border-box;
}

/* 배너 */
section .home_banner{
    display: flex;
    margin-bottom: 50px;
    gap: 10px;
}
section .home_banner .header_slide{
    flex: 1;
    width: calc(61.5% - 12px);
    margin: 0;
}
section .home_banner .header_slide img{
    width: 100%;
}
section .home_banner .header_con{
    display: flex;
    flex-direction: column;
    width: 40%;
    max-width: 462px;
    gap: 10px;
    /* margin: 0 0 0 auto; */
}
section .home_banner .header_con_01,
section .home_banner .header_con_02
{
    width: 100%;
    height: 50%;
    background: #ccc;
    font-size: 30px;
    text-align: center;
}

/* 광고영상 */
section .home_ad{
    position: relative;
    width: 100%;
    height: 100%;
    /* display: flex;
    box-sizing: content-box; */
}
section .home_ad .bk_title{
    width: 100%;
    display: flex;
    align-items: center;
}
section .home_ad h1{
    flex: 1 1 0%;
}
section .home_ad .ad_con > div{
    width: 100%;
    display: flex;
    gap: 2%;
}
section .home_ad .ad_con_01::after,
section .home_ad .ad_con_02::after,
section .home_ad .ad_con_03::after
{
    content: url(../images/video_thumbnail/btn_play.svg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
section .home_ad .ad_con_01,
section .home_ad .ad_con_02,
section .home_ad .ad_con_03{
    position: relative;
    flex: 1 1 30%;
    text-align: center;
}
section .home_ad .ad_con p img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 매장소개 */
section .home_my{

}
section .home_my_con{
    width: 100%;
    display: flex;
    gap: 20px;
}

section .home_my_con .my_con_txt{
    width: 100%;
    background: #ccc;
    padding: 20px 20px;
    box-sizing: border-box;
}
section .home_my_con .my_con_txt p{
    width: 100px;
    height: 36px;
    padding: 10px 16px;
    font-size: 16px;
    line-height: 16px;
    background: #aaa;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 20px;
}

section .home_my_con_01,
section .home_my_con_02,
section .home_my_con_03{
    width: 100%;
    flex: 1 1 30%;
}
section .home_my_con p img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
